button {
    color: #27aedb;
}

.notification{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightsalmon;
    position: absolute;
    width: 150px;
    height: 75px;
    text-align: center;
    left: 350px;
}
